:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-font-size: 16px;
  /* --secondary-font-size: 14px; */
  --primary-font-weight: 700;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --thirty-text-color: #ffffff;
  --fourty-text-color: #000000;
  --primary-bcg: #2f303a;
  --secondary-bcg: #f5f4fa;
  --accent-color: #2196f3;
}

body {
  font-family: var(--primary-font), sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ===================================HEADER=================================== */
.logo-link-header {
  font-family: var(--secondary-font);
  font-weight: var(--primary-font-weight);
  font-size: 26px;
  line-height: 1.19;
  color: var(--fourty-text-color);
}
.accent {
  color: var(--accent-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact-text {
  font-style: normal;
  font-weight: 500;
  font-size: var(--secondary-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contact-text:hover,
.contact-text:focus {
  color: var(--accent-color);
}

/*========================================== HERO =========================================*/
.hero,
.footer {
  background-color: var(--primary-bcg);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--thirty-text-color);
}
.modal-btn {
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--thirty-text-color);
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}
/* ========================================= PLUS =========================================*/

.plus-title {
  font-size: var(--secondary-font-size);
  line-height: 1.14;
  text-transform: uppercase;
}
.plus-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/*=========================================== TEAM ===========================================*/

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team {
  background-color: var(--secondary-bcg);
}
.team-name-title {
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.19;
  text-align: center;
}
.team-speciality {
  font-size: var(--primary-font-size);
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
/*======================================== FOOTER ========================================*/
.logo-link-footer {
  font-family: var(--secondary-font);
  font-weight: var(--primary-font-weight);
  font-size: 26px;
  line-height: 1.19;

  color: var(--thirty-text-color);
}

.address-text {
  font-style: normal;
  font-size: var(--secondary-font-size);
  line-height: 1.71;
  color: var(--thirty-text-color);
}

/* =====================================OUR PORTFOLIO ===================================== */
.nav-on-portfolio-text:hover,
.nav-on-portfolio-text:focus {
  background-color: var(--accent-color);
  color: var(--thirty-text-color);
}
.nav-on-portfolio-text.current {
  background-color: var(--accent-color);
  color: #ffffff;
}
.nav-on-portfolio-text {
  background-color: var(--secondary-bcg);
  font-family: inherit;
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
  cursor: pointer;
}
.portfolio-examples-title {
  font-weight: var(--primary-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-examples-text {
  font-size: var(--primary-font-size);
  line-height: 1.88;
  color: var(--secondary-text-color);
}
.menu-link-current {
  color: var(--accent-color);
}
/* .nav-first-current {
  background-color: #ffffff;
} */
